type logo_device, dev_type;
type logo_block_device, dev_type;
type bootdevice_block_device, dev_type;

/dev/block/platform/bootdevice/by-name/super   u:object_r:super_block_device:s0
